

 <h1>  <%= @pirate.name %> </h1>
  <h1>  <%= @pirate.height %> </h1>
   <h1>  <%= @pirate.weight %> </h1>


   <h1>  <%= @ship_one.name %> </h1>
    <h1>  <%= @ship_one.type %> </h1>
     <h1>  <%= @ship_one.booty %> </h1>

     <h1>  <%= @ship_two.name %> </h1>
      <h1>  <%= @ship_two.type %> </h1>
       <h1>  <%= @ship_two.booty %> </h1>
